.card {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 2px 2px 10px #a7a7a7;
  padding: 1rem;
  border-radius: 10px;
  min-width: fit-content;
  background-color: white;
}

.title {
  font-size: 24px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skills {
  color: #a7a7a7;
}

.skill{
    p{
        margin-bottom: 0.7rem;
    }
}

.level {
}

@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}
