.home {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // font-family: "Poppins";
  // height: fit-content;
  // padding: 5rem 14rem;
  // width: 100%;
  // margin: 0 auto;
  // gap: 20rem;
  font-family: "Poppins";
  padding: 5rem 14rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;

  // @media (max-width: 1024px) {
  //   display: flex; /* Alinha o texto centralmente */
  //   justify-content: center;
  //   align-items: center;
  // }
}

.intro_welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  span {
    color: #2757ff;
  }
}

.intro_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;

  span {
    color: #2757ff;
  }
}

.intro_vocation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 24px;

  span {
    color: black;
    font-family: "Caveat";
    border-bottom: 1px solid black;
    font-size: 48px;
  }
}

.intro_location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a7a7a7;
}

.intro_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.profile_picture {
  text-align: end;
  // @media (max-width: 1024px) {
  //   text-align: center; /* Uma coluna quando a tela for menor */
  // }
}

.picture {
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    // width: 100%;
  }

  .intro_welcome {
    width: 100%;
    font-size: 16px;
  }

  .intro_name {
    font-size: 64px;
  }

  .intro_vocation {
    width: 100%;
    font-size: 16px;

    span {
      font-size: 32px;
    }
  }

  .intro_location{
    font-size: 12px;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .picture {
    width: 200px;
    height: fit-content;
  }

  .intro_socials{
    width: 100%;
    img{
      width: 24px;
      height: 24px;
    }
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 1200px) {
}
