.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  font-family: "Poppins";
  padding: 1rem 14rem;

  // @media (max-width: 768px) {
  //   display: flex; /* Alinha o texto centralmente */
  //   justify-content: center;
  //   align-items: center;
  // }
}

.title {
  cursor: pointer;
  font-size: 24px;
}

.navbar {
}

.navbar_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar_ul_li {
  cursor: pointer;
}

.selected {
    color: #2757FF;
  }

.email_svg {
  cursor: pointer;
}
