.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  font-family: "Poppins";
  padding: 1rem 14rem;
}

.title {
  cursor: pointer;
  font-size: 24px;
}

.navbar {
}

.navbar_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar_ul_li {
  cursor: pointer;
}

.selected {
  color: #2757ff;
}

.email_svg {
  cursor: pointer;
}

.menu_svg {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
    p{
      font-size: 16px;
    }
  }

  .navbar {
    display: none;
  }

  .email_svg {
    display: none;
  }

  .menu_svg {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 1200px) {
}
