.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  font-family: "Poppins";
  padding: 1rem 14rem;
}

.title {
  cursor: pointer;
  font-size: 24px;
}

.navbar {
}

.navbar_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navbar_ul_li {
  cursor: pointer;
}

.selected {
  color: #2757ff;
}

.email_svg {
  cursor: pointer;
}

.nav_burguer {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    p {
      font-size: 16px;
    }
  }

  .navbar {
    display: none;
  }

  .email_svg {
    display: none;
  }

  .nav_burguer {
    display: block;
    flex-direction: column;
    transition: all 1s ease;
  }

  .navbar_burguer {
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px #00000025;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    margin: 0.5rem 1.2rem 0 0;
  }

  .navbar_ul_burguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 1200px) {
}
